@bit:registry=https://node.bit.cloud
@gamilife:registry=https://node.bit.cloud
@teambit:registry=https://node.bit.cloud
//node.bitsrc.io/:_authToken=a6e8e30a-6d9e-4992-a4e3-59b8b4c81855
//node.bit.cloud/:_authToken=a6e8e30a-6d9e-4992-a4e3-59b8b4c81855